<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="io.g8.customai.user.entity"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="io.g8.customai.user.handler.UserCategoryTypeHandler"
                     javaType="io.g8.customai.user.entity.User$Category"/>
    </typeHandlers>
</configuration>